* {box-sizing: border-box;}

body {
  margin: 50px auto;
  font-family: sans-serif;
    align-self: center;
    width: 1200px;
    background-image: url('back.jpeg');

}
input {
    border: 2px solid #ccc;
    font-size: 1rem;
    width: 100%;
    font-weight: 100;
    padding: 10px;
}
.topnav {


    width: 50%;
    align-self: center;
}

.table-responsive{

    border-collapse: collapse;
    border-spacing: 1em;
    width: 100%;
}
table{
    border: 2px solid;
}
.search-container{
    padding-bottom: 30px;
}
tr{
    height: 2rem;
    background: lightskyblue;
}
.dark{
    background: steelblue;
}
